@use "./custom" as *;

html,
body {
  height: 100%;
  margin: 0;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  position: relative;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 100vw;
  height: 100vh;
  overflow: auto;

  @include media-breakpoint-up(md) {
    height: 85vh;
  }

  .header-container {
    height: 8vh;
    background-color: bisque;
    margin-top: 0;
  }

  .content-container {
    height: calc(100% - 12vh);
    display: flex;
    flex-direction: column;

    .sidebar {
      background-color: aqua;
      height: 10%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      a {
        padding: 5px;
        margin: 5px;
      }
    }

    .main-content {
      background-color: lightcoral;
      height: 90%;
    }

    @include media-breakpoint-up(md) {
      .sidebar {
        height: 100%;
        width: 10%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }

      .main-content {
        height: 100%;
        width: 90%;
      }
    }
  }

  .footer-container {
    height: 4vh;
    background-color: bisque;
    margin-bottom: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}
