@use './custom' as *;

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

body::after {
  content: '';
  background-image: url('/src/assets/blank-concrete-white-wall-texture-background.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.5; // Ajuste a opacidade para o valor desejado
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.app-container {
  position: relative;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;

  @include media-breakpoint-up(md) {
    height: 85vh;
    width: 85vw;
  }

  .header-container {
    height: 8vh;
    width: 100vw;
    background-color: $theme-yellow;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    img {
      height: 35px;
      width: 35px;
      margin-right: 2rem;
    }

    h1 {
      margin-top: 0.5rem;
    }

    @include media-breakpoint-down(md) {
      justify-content: space-between;
    }
  }

  .content-container {
    height: calc(100% - 12vh);
    display: flex;
    flex-direction: column;

    .sidebar {
      background-color: $theme-darkyellow;
      height: 8%;

      .buttons-div {
        button {
          width: 100%;
          margin-top: 1rem;
        }
      }

      a {
        padding: 5px;
        margin: 5px;
      }

      @include media-breakpoint-down(md) {
        height: fit-content;

        .buttons-div {
          width: 100%;
          display: flex;

          button {
            margin: 0.5rem 0.5rem 0 0.5rem;
            width: 45%;
          }
        }

        .links-div {
          display: flex;
          justify-content: center;
        }
      }
    }

    .main-content {
      background-color: whitesmoke;
      height: 92%;
      overflow-y: auto;
      padding: 2rem;

      .add-new-task {
        display: flex;
        justify-content: flex-end;

        button {
          margin-right: 1.8rem;
        }
      }

      @include media-breakpoint-down(md) {
        height: fit-content;
        padding: 0.5rem;

        .add-new-task {
          justify-content: center;

          button {
            margin-right: 0;
            margin-top: -1rem;
          }
        }
      }
    }

    @include media-breakpoint-up(md) {
      .sidebar {
        height: 100%;
        width: 14%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        a:first-child {
          margin-top: 2rem;
        }
      }

      .main-content {
        height: 100%;
        width: 86%;
      }
    }
  }

  .footer-container {
    height: 4vh;
    background-color: $theme-yellow;
    margin-bottom: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;

    p {
      margin-top: 0.5rem;
    }
  }
}
