@use './custom' as *;

.task-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.task {
  display: flex;
  flex-direction: row;
  width: 75%;
  background-color: lightpink;
  padding: 0.8rem;
  margin: 0.8rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  .main-info {
    width: 65%;
    padding: 0.5rem;
  }

  .extra-info {
    width: 35%;
    padding: 0.3rem;
  }
}
